# ----------------------------
# Python
# ----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.env
.venv
venv/

# ----------------------------
# Jupyter
# ----------------------------
.ipynb_checkpoints/
notebooks/.ipynb_checkpoints/

# ----------------------------
# Data files (too large for GitHub)
# ----------------------------
data/
*.csv
*.json
*.xlsx
*.npy
*.index

# ----------------------------
# Logs / temp
# ----------------------------
*.log
*.tmp
*.cache
.DS_Store

# ----------------------------
# OS / Editor files
# ----------------------------
Thumbs.db
.vscode/
.idea/
